@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Estedad";
  src: url(../public/font/Estedad-Regular.ttf);
}

@layer components {
  html {
    font-family: "Estedad";
  }

  .bg-blur {
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(20px);
  }


  .scrollbar-none::-webkit-scrollbar {
    display: none !important;
  }
}